django
python-dotenv
hiredis
redis
requests
pydantic
django-components
pillow
gunicorn
whitenoise
pandas
openpyxl
pypdf
numpy
reportlab
psycopg2-binary
pgvector

langchain[google-genai]
langchain-postgres
langchain-core
langgraph
python-dotenv